@use '../../SCSS/_colors.scss' as *;

.Home{
    background-color: $bg-app;
}

.Topbar {
}

.logo img{
    width: 70px;
}

.logoName{
    font-size: 24px;
    font-weight: 400;
    color: $text-dark;
    margin-left: 12px;
}
